@font-face {
  font-family: "Cream";
  src: url("./Fonts/cream.ttf");
}
@font-face {
  font-family: "Digital";
  src: url("./Fonts/digital.otf");
}

$PCblack: rgb(17, 17, 17);
$PCgold: rgb(247, 209, 94);
$PCorange: #e8713a;
$FILTERorange: invert(51%) sepia(13%) saturate(3709%) hue-rotate(337deg)
  brightness(90%) contrast(82%);
$PCwhite: rgb(224, 224, 224);
$backgroundColor: rgb(224, 134, 69);

body {
  margin: 0;
  width: 100%;
  font-family: "Cream";
  background-color: $backgroundColor;
}

.calculatorCont {
  background-color: $backgroundColor;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 500px;
  background-color: rgb(69, 69, 69);
}
.calcScreen {
  width: 90%;
  height: 100px;
  background-color: rgb(101, 101, 101);
}

$PCblack: rgb(17, 17, 17);

.pocketCalculator {
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 560px;
  background-color: $PCblack;
  border-radius: 7px;

  .topHolder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 80px;
    background-color: $PCblack;
    margin-top: -90px;
    border-radius: 60px;

    .middleOpening {
      position: relative;
      width: 70%;
      height: 30px;
      background-color: $backgroundColor;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: inherit;

      .openingTop {
        position: absolute;
        margin-top: -25px;
        width: 30px;
        height: 30px;
        background-color: $backgroundColor;
        border-radius: 50%;
      }
    }
    .textContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      width: 60%;
      height: 25px;
      color: $PCgold;
    }
    .legsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      width: 42%;
      height: 20px;
      bottom: 0;
      margin-bottom: -15px;
      // background-color: purple;
      .leg {
        height: 100%;
        width: 10px;
        background-color: $PCblack;
      }
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid white;
    width: 100%;
    height: 8%;

    .topLogos {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 80px;
      // background-color: blue;
      color: $PCorange;

      .KOtext {
        font-size: 1.4rem;
        word-spacing: -7px;
        font-weight: 100;
        margin-left: 0px;
        .exPoint {
          transform-origin: 0 0;
          transform: rotate(-90deg);
        }
      }
    }
  }
  .screenContainer {
    position: relative;
    // border: 1px solid white;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    .screenBack {
      position: absolute;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 95%;
      height: 90%;
      background-color: rgb(34, 34, 34);
      .screenBar {
        height: 100%;
        width: 10px;
        background-color: rgb(162, 162, 162);
        border-radius: 1px;
        // position: absolute;
      }
    }
    .screen {
      z-index: 2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 92%;
      height: 84%;
      background-color: rgb(107, 107, 107);

      // .mainTextContainer {
      //   position: relative;
      //   width: 80%;
      //   height: 60px;
      //   // background-color: rgba(0, 0, 0, 0.3);
      //   display: flex;
      //   align-items: center;
      //   justify-content: start;

      //   .text {
      //     margin-left: 5px;
      //     font-family: "Digital";
      //     font-size: 2.2rem;
      //   }

      //   .frontText {
      //     z-index: 2;
      //   }
      // }
      // .backText {
      //   z-index: 1;
      //   position: absolute;
      //   opacity: 10%;
      // }
      // .totalTextContainer {
      //   position: absolute;
      //   // bottom: 0;
      //   width: 200px;
      //   height: 20px;
      //   // background-color: blue;
      //   margin-top: 50px;
      //   display: flex;
      //   align-items: center;
      //   justify-content: start;
      //   gap: 10px;

      //   .totalText {
      //     font-family: "Cream";
      //   }
      //   .totalNumber {
      //     font-family: "Digital";
      //     font-size: 1.2rem;
      //     letter-spacing: 1px;
      //   }
      // }

      .screenTexture {
        z-index: 7;
        opacity: 9%;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .topRightClock {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: start;
        top: 0;
        right: 0;
        width: 100px;
        height: 40px;
        // background-color: red;
        .timeBox {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 75%;
          // background-color: green;
          .timeText {
            opacity: 90%;
            font-family: "Digital";
            font-size: 2rem;
            margin-right: 10px;
          }
        }
        .amPmBox {
          background-color: black;
          font-family: "Courier New", Courier, monospace;
          font-weight: 900;
          font-size: 0.7rem;
          color: rgb(116, 116, 116);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 25%;
          height: 30%;
          opacity: 90%;
          border-radius: 6px;
          margin-right: 2px;

          // background-color: blue;
          p {
            margin: 0;
          }

          .am {
            margin-bottom: -7px;
            opacity: 15%;
          }
          .pm {
            margin-bottom: -1px;
          }
        }
      }

      .mainText {
        // background-color: blue;
        position: relative;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
        // background-color: blue;
        font-family: "Digital";
        font-size: 2.2rem;
        .text {
          margin-left: 7px;
          position: relative;
        }
        .backText {
          position: absolute;
          bottom: 0;
          margin-bottom: 0px;
          opacity: 10%;
        }
      }

      .bottomRightExpressions {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 5px;
        width: 100px;
        height: 25px;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        .exBox {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 25%;
          // background-color: blue;
          .exIcon {
            opacity: 15%;
            width: 15px;
          }
          .iconShow {
            opacity: 100%;
          }

          .multiplyIcon {
            width: 12px;
          }
        }
      }
    }
  }
  .bottom {
    // border: 1px solid white;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    .container {
      position: relative;
      width: 20%;
      height: 100%;
      display: flex;
      align-items: start;
      justify-content: center;

      .defaultButton {
        position: relative;
        width: 100%;
        height: 90%;
        // background-color: rgba(128, 0, 128, 0.384);
        display: flex;
        align-items: center;
        justify-content: center;

        .buttonBack {
          z-index: 2;
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $PCwhite;
        }
        .buttonSquare {
          cursor: pointer;
          z-index: 3;
          width: 30px;
          height: 30px;
          background-color: rgb(174, 174, 174);
          display: flex;
          align-items: center;
          justify-content: center;
          .button {
            width: 60%;
            height: 60%;
            border-radius: 50%;
            background-color: black;
          }
        }
      }
      .buttonText {
        cursor: default;
        position: absolute;
        bottom: 0;
        margin: 0;
        margin-bottom: -5px;
        text-align: center;
        color: $PCwhite;
      }

      &:active {
        .defaultButton {
          .buttonSquare {
            .button {
              background-color: rgb(39, 39, 39);
            }
          }
        }
      }
    }
    .emptyCont {
      position: relative;
      width: 20%;
      height: 100%;
    }
    .orange {
      .defaultButton {
        .buttonBack {
          background-color: $PCorange;
        }
      }
      .buttonText {
        color: $PCorange;
      }
    }
    .orangeStripe {
      .defaultButton {
        .buttonBack {
          background-color: $PCorange;
          background: repeating-linear-gradient(
            -55deg,
            $PCorange,
            $PCorange 2px,
            $PCblack 2px,
            $PCblack 5px
          );
        }
      }
    }

    .topRow {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: 70px;
      position: relative;
      // background-color: blue;

      .trashIcon {
        position: absolute;
        left: 0;
        top: 0;
        filter: $FILTERorange;
        width: 15px;
        margin-top: 3px;
        margin-left: 50px;
      }

      .bigSpinContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 70px;
        // background-color: purple;

        .backing {
          position: absolute;
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
          width: 75%;
          height: 90%;
          background-color: rgb(34, 34, 34);

          .longRows {
            height: 100%;
            width: 8px;
            border-radius: 2px;
            background-color: silver;
          }
        }
        .buttonContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 3;
          width: 75%;
          height: 80%;
          background-color: rgb(177, 177, 177);

          .button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: rgb(109, 109, 109);
            border: 2px solid rgb(87, 87, 87);

            .buttonIndent {
              // transform: rotate(40deg);
              position: absolute;
              width: 70%;
              height: 7px;
              border-radius: 15px;
              background-color: rgb(71, 71, 71);
            }
          }
        }
      }
    }
    .bottomContainer {
      // background-color: red;
      height: 80%;
      width: 100%;
      display: flex;

      .bottomLeft {
        // background-color: red;
        width: 60%;
        height: 100%;
        // background-color: purple;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 33% 33% 33%;
        flex-direction: row;
        .leftLinesCont {
          position: absolute;
          display: flex;
          gap: 25px;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 15px;
          height: 50%;
          margin-top: -5px;
          // background-color: rgb(93, 93, 93);

          .lineBox {
            height: 86px;
            width: 6px;
            // background-color: blue;
            border: 3px solid $PCwhite;
            border-right: 0;
            margin-left: 6px;
          }
          .top {
            border-bottom: 0;
          }
          .bottom {
            border-top: 0;
          }
          .lineText {
            font-size: 0.8rem;
            color: $PCwhite;
            transform: rotate(-90deg);
            margin-left: 2px;
          }
        }
      }
      .bottomRight {
        // background-color: green;
        margin-top: -1px;
        // background-color: red;
        padding-top: 2px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 70px 70px;
        grid-template-rows: 67px 67px 67px 67px;
        gap: 0px;
        width: 40%;
        height: 100%;
        // background-color: teal;

        .rightLinesCont {
          position: absolute;
          display: flex;
          gap: 35px;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 15px;
          height: 50%;
          margin-top: -5px;
          margin-left: -5px;
          // background-color: rgb(93, 93, 93);

          .lineBox {
            height: 75px;
            width: 6px;
            // background-color: blue;
            border: 3px solid $PCorange;
            border-right: 0;
            margin-left: 6px;
          }
          .top {
            border-bottom: 0;
          }
          .bottom {
            border-top: 0;
          }
          .lineText {
            font-size: 0.8rem;
            color: $PCorange;
            transform: rotate(-90deg);
            margin-left: 2px;
          }
        }
        .pieIcon {
          position: absolute;
          filter: invert(90%);
          width: 17px;
          right: 0;
          margin-right: 3px;
          margin-top: 20%;
        }
      }
      .bottomLeft,
      .bottomRight {
        .container {
          // background-color: green;
          position: relative;
          width: 70px;
          height: 70px;
          display: flex;
          align-items: start;
          justify-content: center;
          .redLight {
            position: absolute;
            width: 8px;
            height: 8px;
            margin-top: 5px;
            border-radius: 50%;
            background-color: rgb(45, 18, 18);
          }
          .lightOn {
            background-color: rgb(191, 32, 32);
          }
          .defaultButton {
            position: relative;
            width: 100%;
            height: 90%;
            // background-color: rgba(128, 0, 128, 0.384);
            display: flex;
            align-items: center;
            justify-content: center;

            .buttonBack {
              z-index: 2;
              position: absolute;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $PCwhite;
            }
            .buttonSquare {
              cursor: pointer;
              z-index: 3;
              width: 30px;
              height: 30px;
              background-color: rgb(174, 174, 174);
              display: flex;
              align-items: center;
              justify-content: center;
              .button {
                width: 60%;
                height: 60%;
                border-radius: 50%;
                background-color: black;
              }
            }
          }
          .buttonText {
            // background-color: red;
            cursor: default;
            position: absolute;

            margin: 0;
            margin-bottom: -2px;
            text-align: center;
            color: $PCwhite;
          }

          &:active {
            .defaultButton {
              .buttonSquare {
                .button {
                  background-color: rgb(39, 39, 39);
                }
              }
            }
          }
        }
        .emptyCont {
          position: relative;
          width: 70px;
          height: 70px;
        }
        .orange {
          .defaultButton {
            .buttonBack {
              background-color: $PCorange;
            }
          }
          .buttonText {
            color: $PCorange;
          }
        }
        .orangeStripe {
          .defaultButton {
            .buttonBack {
              background-color: $PCorange;
              background: repeating-linear-gradient(
                -55deg,
                $PCorange,
                $PCorange 2px,
                $PCblack 2px,
                $PCblack 5px
              );
            }
          }
        }
        .whiteStripe {
          .defaultButton {
            .buttonBack {
              background-color: $PCorange;
              background: repeating-linear-gradient(
                -55deg,
                $PCwhite,
                $PCwhite 2px,
                $PCblack 2px,
                $PCblack 5px
              );
            }
          }
        }
      }
    }
  }
}

.spinAnimate {
  animation: spinAnimate 0.8s;
  animation-timing-function: ease-out;
}

@keyframes spinAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
