body {
  margin: 0;
  width: 100%;
}

.calculatorCont {
  background-color: blue;
  height: 100%;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 500px;
  background-color: rgb(69, 69, 69);
}
.calcScreen {
  width: 90%;
  height: 100px;
  background-color: rgb(101, 101, 101);
}
